@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");


/* Remove defaults and set new styling */
* {
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
}

body {
    font-family: Lato-light, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2 {
    font-family: Lato-light, sans-serif;
    color: #3a3a3a;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    border-bottom: 1px solid;
}

/* Navigation bar and header */

header {
    height: 10%;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
}

.menu {
    background-color: black;
    font-size: 180%;
    text-align: center;
    letter-spacing: 2px;
    opacity: 0.8;
    overflow-y: hidden;
    z-index: 1;
}

.menu-no-opacity {
    opacity: 1 !important;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 20px;
    border-right: white solid 1px;
}

.menu li {
    display: inline;
    line-height: 100px;
}

.menu a:hover {
    text-decoration: underline 1px;
    text-underline-offset: 10px;
}

.current-menu {
    text-decoration: underline 1px !important;
    text-underline-offset: 10px;
}

.no-border {
    border-right: none !important; 
}

/* Home page only start */


#home-image {
    height: 100vh;
    width: 100%;
    background: url("../images/ida-two.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;

    animation-name: home-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    z-index: 2;
}

#frontpage-footer {
    position: fixed;
    color: black;
    opacity: 0.8 !important;
}

@keyframes home-image-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

/* Home page only ends*/

/* "About me"-exclusive styling */

#section-sizing {
    height: 600px;
    width: 100%;
    margin-top: 5%;
}

#about-me-text {
    width: 50%;
    float: right;
}

#about-me-text-div {
    float: left;
    max-width: 400px;
    padding-left: 10px;
}

#about-me-text p {
    margin-bottom: 16px;
}

#about-me-image {
    width: 50%;
    float: left;
}

#about-me-image-div {
    float: right;
    height: 500px;
    padding-right: 10px;
}

/* Contact only start */

#contact-me-text {
    width: 50%;
    float: right;
}

#contact-me-text-div {
    float: left;
    max-width: 400px;
    padding-left: 10px;
}

#contact-me-text p {
    margin-bottom: 16px;
}

#contact-me-image {
    width: 50%;
    float: left;
}

#contact-me-image-div {
    float: right;
    height: 500px;
    padding-right: 10px;
}

/* Contact only ends */
/* Services only starts */

#services-text {
    width: 50%;
    float: right;
}

#services-text-div {
    float: left;
    max-width: 400px;
    padding-left: 10px;
}

#services-text p {
    margin-bottom: 16px;
}

#services-image {
    width: 50%;
    float: left;
}

#services-image-div {
    float: right;
    height: 500px;
    padding-right: 10px;
}
/* services second section */

#services-text-left {
    width: 50%;
    float: left;
}

#services-text-div-left {
    float: right;
    max-width: 400px;
    padding-right: 10px;
}

#services-text-left p {
    margin-bottom: 16px;
}

#services-image-right {
    width: 50%;
    float: right;
}

#services-image-div-right {
    float: left;
    height: 500px;
    padding-left: 10px;
}
/* Services only ends */

/* Gallery images*/

#photo-gallery {
    clear:both;
    line-height: 5px;
    column-count: 3;
    column-gap: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#photo-gallery img {
    width: 100%;
    padding-bottom: 5px;
}

/* Footer with Social media*/

footer {
    height: 100px;
    width: 100%;
    background-color: black;
    bottom: 0;
    position: fixed;
}

.social-media {
    text-align: center;
    font-size: 250%;
    opacity: 1;
}

.social-media li {
    display: inline;
}

.social-media a {
    color: white;
    line-height: 100px;
}

.social-media a:hover {
    color: #9e9e9e;
}