@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");


/* Remove defaults and set new styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato-light, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2 {
    font-family: Lato-light, sans-serif;
    letter-spacing: 5px;
    text-transform: capitalize;
}

/* Home page only start */

#logo-div {
    color: white;
    text-align: center;
    font-size: 300%;
}

#home-image {
    height: 100vh;
    width: 100vw;
    opacity: 0.2;
    background: url("../images/background-photo.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

#background-black {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

/* Home page ends*/

/* Navigation bar */

.menu {
    font-size: 120%;
    text-align: center;
    padding-top: 5%;
}

.menu a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.menu li {
    display: inline;
}

.menu a:hover {
    border-bottom: 2px solid white;
}


/* Gallery images*/



/* Footer with Social media*/

footer {
    height: 100px;
    background-color: black;
}

.social-media {
    text-align: center;
    font-size: 200%;
    text-decoration: white;
}

.social-media li {
    display: inline;
}